# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/.idea
/*.iml
/wecode-framework/*.iml
/wecode-framework/jfinal-ext/target
/wecode-framework/jfinal-ext/jfinal-ext.iml
/wecode-framework/wecode-core/wecode-core.iml
/wecode-framework/wecode-core/target
/wecode-framework/wecode-parent/*.iml
/wecode-modules/*.iml
/wecode-modules/wecode-business-platform/wecode-business-platform.iml
/wecode-modules/wecode-business-platform/target
