body { padding: 0; margin: 0; font-family: Microsoft Yahei!important}
.clear { clear:both}
.form-text { display: inline-block; padding: 5px 0}
/*登录*/
.login-header { display: none; margin: 0 auto; padding: 20px 0; height: 75px; width: 1150px;}
.login-main { display: none; margin: 0 auto; height: 360px; width: 100%; background: #5c86b6}
.login-title { margin: 30px 35px 0; color: #333; font-size: 21px; font-weight: normal; text-shadow: 1px 1px 1px #ddd;}
.login-wrap { position: relative; margin: 0 auto; height: 360px; width: 1150px; background: url(../images/pic_login.jpg) no-repeat;}
.login-box { position: absolute; width: 400px; height: 360px; right: 30px; top:0; background: rgba(255,255,255,0.7);}
.login-user,.login-pass { margin: 20px 35px; padding:10px 10px; border:1px solid #999; border-radius: 8px; background: #fff}
.login-user .text,.login-pass .text{ margin-left: 8px; vertical-align: middle; width: 285px; border: none; outline: none; background: none; font-size: 16px; font-family: Arial, "Microsoft Yahei"; box-sizing:border-box;}
.login-box .icon-user ,.login-box .icon-pass { display: inline-block; vertical-align: middle; width: 14px; height: 16px; background: url(../images/icon_login.png) no-repeat; }
.login-box .icon-user { background-position: 0 0 }
.login-box .icon-pass { background-position: -23px 0 }
.login-box .msg-tip { margin: 0 35px; font-size: 14px; color: #d70000}
.login-box .msg-tip.error { padding-left: 20px; color: #d70000; background: url(../images/icon_login.png) -48px 2px no-repeat;}
.login-box .login-bar { padding: 20px 35px 0; }
.login-box .login-btn { width: 330px;background: #148b00; color: #fff ; border: none; height: 40px; border-radius: 6px; font-weight: 700; font-size: 16px; font-family: "Microsoft Yahei"}
.login-footer { display: none; padding: 20px 0; height: 50px; text-align: center; color: #999; font-size: 12px;}
.login-footer p{ margin: 0; line-height: 1.6}
/*自定义样式内容*/
.no-border { border: 0!important}
/*导航部分*/
.navbar-menu { margin-left: 51px; height: 45px;}
.navbar-menu a { display: inline-block; padding: 0 10px; line-height: 45px; color: #fff; text-decoration: none;font-weight: 700; font-size: 14px;}
.navbar-menu a:hover,.navbar-menu a.current { text-decoration: none; background:#579EC8 }

.phone-preview { position: relative; margin: 0 auto; width: 360px; height: 750px; background: no-repeat;}
.phone-preview .preview-wrap { margin: 0 10px }
.phone-preview .preview-content { position: absolute; left: 30px; top: 89px; width: 301px; height:550px; background:#f0f0f0; overflow-x:hidden; overflow-y:auto; word-wrap: break-word; 
word-break: break-word; }
.phone-preview .preview-content img{ max-width: 100%}
.ace-file-input .remove-btn { display: inline-block; position: absolute; right: -11px; text-align: center; top: -11px;border: 3px solid #BBB;border-radius: 32px;background-color: #FFF;color: red;width: 22px;height: 22px;line-height: 15px}
.pointer { cursor: pointer;}
.openfill { margin: 10px 10px 0 0}

/*素材管理*/
.visible{visibility:hidden;}
.material{border-top:1px solid #d7d8d9;padding-top:15px; font-family: Microsoft Yahei}
.material .pview{width:480px;float:left;}
.material .manbox{width:508px;float:left; margin-left: 25px;}
.material .module{padding:5px 14px;border:1px solid #d5d8e0;}
.material .module .heads{color:#282828;font-size:20px;}
.material .module .dates{font-size:12px;color:#9a9a9a  }
.material .module .digest{ margin-top:5px;font-size:14px;color:#74726f;word-wrap:break-word;word-break:break-all;}
.material .module .titxt{font-size:18px;color:#393939;display:inline-block;vertical-align:middle;width:345px;word-wrap: break-word;word-break:break-all; }
.material .module .imgbox{width:100px;height:100px;display:inline-block;vertical-align:middle;border:1px solid #ccc;text-align: center;line-height: 100px; color: #aaa; font-size: 14px;}
.material .module .imgbox img{ position: relative; z-index: 100; top: -100px; left: 0; width: 100%; vertical-align: top}
.material .module .potion{position:relative;}
.material .module .shade{position:absolute;bottom:-5px;left:-15px;right:-15px;display:none;width:480px;z-index: 110}
.material .module .con-pic { border: 1px solid #ccc; width: 449px; height: 224px; line-height: 224px; text-align: center; color: #ccc; font-size: 22px; background: #f6f6f6; overflow: hidden;}
.material .module .con-pic img { position: relative; z-index: 100; top: -224px; left: 0; width: 100%; vertical-align: top}
.material .module:hover .shade{display:block;}
.material .module .shade .bj{background:#000;opacity:0.5;filter:alpha(opacity=50);width:480px;height:46px;}
.material .module .shade .handle{position:absolute;top:50%;left:0px;right:0px;text-align:center;margin-top:-15px;z-index:200;}
.material .module .shade .handle .modif{background: -273px -46px no-repeat;width:27px;height:26px;display:inline-block;margin-right:45px; }
.material .module .shade .handle .remov{background: -247px -45px no-repeat;width:25px;height:27px;display:inline-block;margin-left:45px; }
.material .addmet{display:block;border:3px dotted #ccc;height:60px;text-align:center;padding-top:15px; }
.material .addmet:hover { text-decoration: none; border-color: #aaa;}
.material .addmet .addicon{vertical-align:middle;}
.material .addmet .addtxt{font-size:16px;color:#999;vertical-align:middle;padding-left:10px;}
.material .addmet:hover .addtxt{color:#666;}
.material .import{position:relative;border: 1px #e0dfdf solid;border-bottom:none;}
.material .import .laytil{background: url(../images/layerTitleBg.png) repeat-x;height: 39px;border-bottom: 1px #d5d5d5 solid;line-height: 38px;padding-left: 20px;font-size: 14px;}
.material .import .icons{position: absolute;left:-12px;top: 10px;width: 12px;height: 14px;background: url(../images/leftArrow.png) no-repeat;}
.material .import .conte{padding:0px 20px 12px;}
.material .import .conte .label{font-size:14px;color:#373b3e;line-height:30px;padding:5px 0px;  }
.material .import .conte .rowl .input{width:460px;height:28px;line-height:28px;border:1px solid #c3c7c8;text-indent:10px;}
.material .import .conte .rowl .tarea{width:460px;height:56px;line-height:18px;border:1px solid #c3c7c8;text-indent:10px;resize:none;}
.material .manbox .saverow{border: 1px #e0dfdf solid;border-top:none;padding:0px 20px 12px;}
.material .import .conte .upimg{display:block;position:relative;background:url(../images/add.png) center center no-repeat;width:160px;height:90px;     }
.material .import .conte .isize{font-size:12px;color:#929597;}
.material .import .conte .upimg .reimg{background: center center no-repeat;display:block;width: 20px;height: 20px;top: 5px;right: 5px;position: absolute;}

/*相册*/
.album-title { line-height: 2; font-size: 14px; display: table-footer-group}
.ace-thumbnails li{ display: table!important; width: 154px; height: 154px; text-align: center; background: #eee; border-collapse:collapse;}
.ace-thumbnails.album-thumb li { height: 178px;}
.ace-thumbnails li>a:first-child { display: table-cell!important; vertical-align: middle;}
.ace-thumbnails li>a:first-child img{ max-width:150px; max-height: 150px; vertical-align: middle; }

/*置业顾问*/
.y-list img { border-radius: 0!important; max-width: 100px!important; width: 100px;}
.y-list .widget-box { margin-left: 110px!important;}

/*礼品列表*/
.s-list .widget-box { margin-left: 0px!important;}
.widget-thumb { padding: 12px;}
.widget-thumb img { width: 100%}
.s-title { font-weight: 700; font-size: 20px; margin: 5px 0 10px; font-family: Microsoft Yahei}

/*错误验证*/
.Validform_checktip {
	display: none;
    margin-left: 8px;
    vertical-align: middle;
    height: 37px;
    padding-left: 23px;
    line-height: 36px;
    font-size: 12px!important;
    color: #ccc;
    letter-spacing: 0;
}
.Validform_wrong { display: inline-block; background: url(../images/icon_verify.png) 0 -27px no-repeat; color: #d15552}
.Validform_right { display: inline-block;  background: url(../images/icon_verify.png) 0 10px no-repeat; color: #15B260}
#Validform_msg { display: none}

/*自定义菜单栏目*/
.edit-box{ display: none; width: 100%}
.dd-system .del{ display: none}
.dd-empty:after { content: " 暂无栏目"; line-height: 2.5; padding-left: 10px; color: #999}

/*广告内容*/
.ad-pic img { max-width: 100%; max-height: 300px;}
.timeline-item .transparent.ad-box { border-left:none!important;}
.color-orange { color: #FF9000}

/*可输入数字提示*/
.textnumbox { margin-top: 5px; color: #666}
/*选择图片素材*/
.thumb-img { max-width: 200px; max-height: 70px;}
.media-info { line-height: 1.6}
.media-name { display: inline-block; width: 490px;} 
.media-name input { margin-right: 3px;} 
.media-size { display: inline-block; width: 100px;} 
.media-time { display: inline-block; width: 120px; text-align: right;}
.media-content { margin-left: 20px}
.material-list-wrap { height: 450px; overflow-y:auto }
.material-list-wrap ul { list-style: none; margin: 0 20px;}
.material-list-wrap ul li { padding: 10px 0; border-bottom: 1px solid #ddd}
.material-list-wrap.words-pic { font-size: 14px;}
.material-list-wrap.words-pic li{ overflow: hidden;}
.material-list-wrap.words-pic li .des { margin-left: 10px;}
.material-list-wrap.words-pic li .thumb {}

.pic-area { padding: 15px; border:1px solid #ddd; min-height: 140px;}
.pa {padding:10px; background: #eee; border-bottom: 1px solid #ccc}
.gz-keywords-con {}
.gz-keywords-con ul { margin: 0 20px; list-style: none}
.gz-keywords-con li { clear: both; overflow: hidden; line-height: 2.5; border-bottom: 1px solid #ddd}
/*.gz-keywords-con li:hover {  background: #f0f0f0}*/
.gz-repeat-con { padding: 10px;}
.gz-repeat-con .bl { margin-right: 10px; cursor: pointer;}
.gz-repeat-con-list {}
.gz-repeat-con-list ul { margin: 0 20px; list-style: none}
.gz-repeat-con-list ul li{ padding: 10px 0; overflow: hidden; border-bottom: 1px solid #eee}
.gz-repeat-con-list ul li .action-buttons,.gz-keywords-con li .action-buttons{ display: none}
.gz-repeat-con-list ul li:hover .action-buttons ,.gz-keywords-con li:hover .action-buttons{ display: block;}

/*素材图文*/
.wp-box { width: 290px; padding: 10px; border:1px solid #ccc; border-radius: 5px; font-family: "Microsoft Yahei"; font-size: 14px;}
.wp-box .title { font-size: 16px; list-style: 1.6}
.wp-box .pic { margin: 5px 0; height: 160px; overflow: hidden;}
.wp-box .pic img { max-width: 100%}
.new-rule { display: none}
.ruleitem-list { list-style: none; margin: 0}
.ruleitem-list li { margin-bottom: 10px;}
.rule-prev { padding: 15px 10px;}
.rule-prev .lt { width: 70px; font-weight: 700}

.keyword-list {}
.keyword-list span { padding:2px 8px; display: inline-block; background: #ddd;  margin-right: 10px;}

/*关联用户*/
.relation-box { padding: 20px;}
.rel-user-info { float: left; text-align: center; margin-bottom: 10px;}
.rel-user-info .rel-user-avatar { width: 48px; height: 48px;}
.relation-box .middle { vertical-align: middle;}
.relation-box .rel-arr { display: inline-block; height: 3px; overflow: hidden; width: 60px; background: #478FCA!important}
.relation-box .rel-arr-wrap { float: left; margin-bottom: 10px; padding-top: 20px; height: 90px;}

.steps-list { position: relative; list-style: none; padding:0;}
.steps-list p { margin: 0}
.steps-list>li { position: relative;}
.steps-list>li .v-line{ position: absolute; left: 25px; top: -27px; bottom: 0; width: 1px; height: 100%; background: #38BCC9 ; z-index: 19}
.stepscon-list>li:last-child>.v-line { height: 60px;}
.steps-list>li>.stepscon-list { display: block;}
.stepscon-list { display: none; position: relative; list-style: none; margin: 0}
.stepscon-list>li { position: relative; padding-top: 10px; padding-left: 60px; min-width: 180px;} 
.stepscon-list>li .h-line { position: absolute; left: 25px; top: 32px; width: 40px; height: 1px; background: #38BCC9}
.rank-info { font-size: 14px; position: relative; z-index: 20}
.rank-info .avatar { width: 50px; height: 50px;}
.rank-info .avatar img { width: 100%; height: 100%; border-radius: 5px}
.rank-info .info { margin-left: 10px; font-size: 12px; max-width: 64%; line-height: 1.3}
.rank-info .name { font-size: 15px; font-weight: 700}

/*预览*/
.box-header { position: absolute; top: 0; left: 0; right: 0; height: 44px; background: #f6f2f2; border-bottom: 1px solid #c8c8c8; z-index: 10 }
.btn-area { margin: 10px 0 0 15px; }
.btn-area .header-btn { margin-right: 15px; }
.text-area, .text-area-long { margin: 12px 5px 0 0; font-size: 16px; }
.text-area-long { font-size: 14px; }
.text-area-long { margin-top: 3px; margin-left: 15px; max-width: 180px; line-height: 1.4 }
.link-area { margin: 7px 15px 0 0; font-size: 14px; }
.link-area .current {  background: #2ba4b0; border-color:#2ba4b0!important; color: #fff!important }
.link-area-mu .button { margin: 0 13px; }
.header-btn { display: inline-block; width: 25px; height: 25px; background: url(../images/icon_btns.png) no-repeat; background-size: 97px; }
.header-text { margin-right: 10px; }
.icon-back { background-position: 0 0 }
.icon-menu { background-position: -36px 0 }
.icon-download { background-position: -72px 0 }
.button { display: inline-block; padding: 5px; border: 1px solid #2ab8c6; border-radius: 5px; text-decoration: none; text-shadow: none; font-weight: 700; }
.button.gray { border: 1px solid #979797; }
.button:hover { background: #2ab8c6; border-color: #2ab8c6; color: #fff !important;  text-decoration: none}
.blue-button { width: 100%; height: 40px; border: none; background: #2AB8C6; border-radius: 5px; color: #fff; font-weight: 700; outline: none; font-size: 18px; }
.blue-button:hover { background: #2ba4b0 }
.blue { color: #2ab8c6 !important }
.form-content { padding: 10px 12px; }
.form-content .form-msg { padding: 5px 0; }
.ft14 {font-size: 14px;}
.blue-color {color: #2ab8c6 !important;}
.form-top { padding: 15px 15px 10px; background: #2AB8C6; border-top-left-radius: 4px; border-top-right-radius: 4px; }
.form-top p { color: #fff }
.form-top .lg { font-size: 21px; font-weight: 700 }
.form-top .sm { font-size: 15px; }

.box-btns { position: absolute; left: 0; right: 0; bottom: 20%; z-index: 100 }
.box-btns .box-btns-con { width: 80%; margin: 0 auto; text-align: center; }
.box-btns .btns { color: #fff; line-height: 50px; margin-bottom: 5px; text-decoration: none; text-shadow: none; display: inline-block; width: 40%; height: 50px; background: rgba(42, 184, 198, .6) }

/* 焦点图 预览 */
.swiper-container { height: 452px; width: 301px; }
.swiper-container img { width: 100%; }
.content-slide { padding: 20px; color: #333; }
.ad-page { position: absolute; left: 0; top: 0; text-align: center; width: 100%; z-index: 100 }
.swiper-pagination-switch { display: inline-block; width: 10px; height: 10px; border-radius: 10px; background: #999; box-shadow: 0px 1px 2px #555 inset; margin: 0 3px; cursor: pointer; }
.swiper-active-switch { background: #fff; }

/*后台首页*/
.widget-box.transparent .widget-body.index { border:1px solid #ddd;}
.infobox.index { min-width: 320px; border:1px dotted #bbb!important;}
.infobox.index .infobox-text { padding-left: 10px; margin-left: 10px!important; line-height: 1.4; border-left: 1px solid #ddd}
.infobox.index .infobox-content { line-height: 1.8}

/* 户型预览 */
.picture-list { margin: 0}
.picture-list li { position: relative; padding: 10px; padding-left: 105px; border-bottom: 1px solid #ddd; overflow: hidden; }
.picture-list li p { margin-bottom: 0}
.picture-list .thumb { position: absolute; left: 10px; top: 10px; width: 95px; height: 70px; border: 1px solid #ccc; border-radius: 5px; }
.picture-list .thumb img { width: 100%; height: 100%; border-radius: 5px; }
.picture-list .con { margin-left: 10px; }
.picture-list .title { font-weight: bold; margin-bottom: 0px; font-size: 14px; color: #555 }
.picture-list .text { color: #999; line-height: 1.3; font-size: 14px; }
.picture-banner { position: relative; margin: 0 auto; width: 100%; }
.picture-banner img { width: 100% }
.picture-info { margin: 10px; border: 1px solid #ddd; border-radius: 5px; }
.picture-info .title { padding: 5px; border-bottom: 1px solid #ddd; font-weight: 700; text-align: center; }
.picture-info .con { padding: 5px 8px; color: #777; line-height: 1.4; font-size: 14px; }
.picture-bar { padding: 0 0 5px 10px; border-bottom: 1px solid #ddd; }
.picture-detail .t { padding: 0 10px 5px; font-weight: 700; border-bottom: 1px solid #ddd }
.picture-detail .c { color: #777; padding: 10px; line-height: 1.6 }
.picture-banner .pagination { left: 0; top: auto; bottom: 0; }
.picture-banner .swiper-container { height: 150px; width: 320px; }

/* 置业顾问预览 */
.pic-list { margin: 10px 8px; list-style: none; }
.pic-list p{ margin-bottom: 0}
.pic-list li { float: left; margin-bottom: 5px; width: 50%; box-sizing: border-box; }
.pic-list li .con { padding: 5px; background: #f6f2f2; margin: 0 3px; border-radius: 5px; font-size: 12px; }
.pic-list li .con img { max-width: 100%; max-height: 100% }
.pic-list li .con .info { font-size: 12px; }

/*自定义菜单*/
.dd-list { min-height: 10px;}
.s-box .dd-list { min-height: 38px;}
.well { min-height: 88px; }
.well-top { background: #eee}
.dd-placeholder { margin: 5px 0; padding: 0; min-height: 38px!important; background: #f0f9ff; line-height: 38px; border: 2px dashed #bed2db; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/*load动画*/
.zzsc6 { margin: 8px 0 0 8px }
.zzsc6 > div { width: 10px; height: 10px; background-color: #67CF22; border-radius: 100%; display: inline-block; -webkit-animation: bouncedelay 1.4s infinite ease-in-out; animation: bouncedelay 1.4s infinite ease-in-out; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
.zzsc6 .bounce1 { -webkit-animation-delay: -0.32s; animation-delay: -0.32s; }
.zzsc6 .bounce2 { -webkit-animation-delay: -0.16s; animation-delay: -0.16s; }
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

